---
import Layout from '../../layouts/Layout.astro';
import KakaoLogin from '../../components/Login/KakaoLogin';
---

<Layout>
  <main>
    <h1>약속 잡으러 갈까요?</h1>
    <KakaoLogin client:only="react" />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
</style>