---
import Layout from '../../layouts/Layout.astro';
import KakaoLogin from '../../components/Login/KakaoLogin';
---

<Layout>
  <main>
    <h1>약속 잡으러 갈까요?</h1>
    <p>카카오톡으로 간편하게 로그인하고, 약속을 잡아보세요.</p>
    <KakaoLogin client:only="react" />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  h1 {
    margin-bottom: 50px;
  }
  p {
    margin-bottom: 20px;
    word-break: keep-all;
  }
</style>