@use "../../styles/variables.scss" as *;

// =====================================================
// Input Component - shadcn/ui inspired
// =====================================================

.input {
  width: 100%;
  max-width: 600px;
  height: 40px;
  padding: 0 $spacing-md;
  box-sizing: border-box;
  
  border: 1px solid $c-gray;
  border-radius: $radius-sm;
  background-color: $c-white;
  
  font-size: $font-size-md; // 16px - iOS Safari 자동 줌 방지
  font-weight: $font-weight-normal;
  color: $c-black;
  
  outline: none;
  transition: border-color $transition-fast, box-shadow $transition-fast;

  &::placeholder {
    color: $c-gray-dark;
  }

  &:hover:not(:disabled):not(:focus) {
    border-color: $c-gray-dark;
  }

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 0 2px $primary-color-soft;
  }
  
  &:disabled {
    background-color: $c-gray-lightest;
    color: $c-gray-dark;
    cursor: not-allowed;
    opacity: 0.5;
  }

  // Error state (can be added via class)
  &.error {
    border-color: $c-red;
    
    &:focus {
      box-shadow: 0 0 0 2px $c-red-soft;
    }
  }
}
