@use "../../styles/variables.scss" as *;

.badge {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  line-height: 1;
  box-sizing: border-box;
  width: fit-content;

  &.primary {
    background-color: $c-blue-soft;
    color: $c-blue;
  }
  &.ghost {
    background-color: $c-gray-light;
    color: $c-black;
  }
  &.default {
    background-color: #fff;
    color: $c-gray-darkest;
    border: 1px solid $c-gray-light;
  }
}