@use "../../styles/variables.scss" as *;

.button {
  background-color: $primary-color;
  color: #fff;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  &.primary {
    background-color: $primary-color;
    color: #fff;
  }

  &.kakao {
    background-color: #fee500;
    color: $c-black;
  }

  &.default {
    background-color: #fff;
    color: $c-black;
    border: 1px solid $c-gray-light;
  }
}