@use "../../styles/variables.scss" as *;

.button {
  background-color: $primary-color;
  color: #fff;
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;

  &.primary {
    background-color: $primary-color;
    color: #fff;
  }

  &.ghost {
    background-color: $c-gray-light;
    color: $c-black;
  }

  &.kakao {
    background-color: #fee500;
    color: $c-black;
  }

  &.default {
    background-color: #fff;
    color: $c-black;
    border: 1px solid $c-gray;

    &.active {
      border-color: $primary-color;
      background-color: $c-blue-soft;
      color: $c-blue;
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}