@use "../../styles/variables.scss" as *;

.container {
  width: 100%;
}

.selectedDatesInfo {
  margin: 30px 0;
  word-break: keep-all;
  color: $c-black;
  p {
    margin: 6px 0;
  }
}

.buttonContainer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  gap: 10px;

  > *:first-child {
    flex: 1;
  }

  > *:nth-child(2) {
    flex: 3;
  }
}