@use "../../styles/variables.scss" as *;

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  @media (max-width: 699px) {
    margin-bottom: 100px;
  }
}

.selectedDatesInfo {
  margin: 20px 0;
  word-break: keep-all;
  color: $c-black;
  p {
    margin: 6px 0;
  }
}

.buttonContainer {
  margin-top: 30px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  gap: 10px;

  > *:first-child {
    flex: 1;
  }

  > *:nth-child(2) {
    flex: 3;
  }

  @media (max-width: 699px) {
    position: fixed;
    bottom: 0px;
    left: 0;
    padding: 20px;
    background-color: white;
  }
}