@use "../../styles/variables.scss" as *;

.container {
  width: 100%;
  margin: 30px 0;
}

.selectedDatesInfo {
  margin: 30px 0;
  word-break: keep-all;
  color: $c-black;
  p {
    margin: 6px 0;
  }
}