@use "./variables.scss" as *;

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: $c-black;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: $c-black;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}
