// 메인 컬러 변수
$primary-color: rgb(59, 130, 246);
$primary-color-selected: rgba(59, 130, 246, 0.25);
$primary-color-dragged: rgba(59, 130, 246, 0.101);
$primary-color-border: rgba(59, 130, 246, 0.3);

// 요일 색상 변수
$sunday-color: #e95454;
$saturday-color: #6b6bea;

