@use "../../styles/variables.scss" as *;

.Trigger {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: white;
  border: 1px solid $c-gray;
  border-radius: 6px;
  color: $c-black;
  box-shadow: 0 2px 10px var(--black-a7);
  &:hover {
    background-color: $c-gray-light;
  }
  &:focus {
    box-shadow: 0 0 0 2px $primary-color;
  }
  &[data-placeholder] {
    color: $c-gray-dark;
  }
}

.Icon {
  color: $c-black;
}

.Content {
  z-index: 1000;
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.Viewport {
  padding: 5px;
}

.Item {
  font-size: 16px;
  line-height: 1;
  color: $c-black;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 35px;
  padding: 5px 35px 5px 25px;
  position: relative;
  user-select: none;
  &[data-disabled] {
    color: $c-gray-dark;
    pointer-events: none;
  }
  &[data-highlighted] {
    outline: none;
    background-color: $c-gray-light;
    color: var(--violet-1);
  }
}

.Label {
  padding: 0 25px;
  font-size: 14px;
  line-height: 25px;
  color: $c-gray-dark;
}

.Separator {
  height: 1px;
  background-color: $c-gray;
  margin: 5px;
}

.ItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: $c-black;
  cursor: default;
}
