@use "../../styles/variables.scss" as *;

.cell {
  user-select: none;
  padding: 0 16px;
  border-radius: 0;
  border: none;
  border-top: 1px solid #e0e0e0;
  background: #fff;
  transition: 0.15s;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  min-height: 30px;
  box-sizing: border-box;
  flex-shrink: 0;

  &:hover {
    background: #f9f9f9;
  }

  &.selected {
    background: $primary-color-selected;
    backdrop-filter: blur(4px);
  }

  &.dragged {
    background: $primary-color-dragged;
    backdrop-filter: blur(4px);
  }

  // 정각: 실선
  &.fullHour {
    border-top: 1px solid #e0e0e0;
  }

  // 30분: 점선
  &.halfHour {
    border-top: 1px dashed #e0e0e0;
  }
}

