@import "../../styles/variables.scss";

.cell {
  user-select: none;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid #eee;
  background: #fff;
  transition: 0.15s;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  min-height: 30px;
  box-sizing: border-box;
  flex-shrink: 0;

  &:hover {
    background: #f9f9f9;
  }

  &.selected {
    background: $primary-color-selected;
    backdrop-filter: blur(4px);
    border-color: $primary-color-border;
  }

  &.dragged {
    background: $primary-color-dragged;
    backdrop-filter: blur(4px);
    border-color: $primary-color-border;
  }
}

