---
import Layout from '../../layouts/Layout.astro';
import DatesStep from '../../components/meetings/DatesStep';
import TimeRangeStep from '../../components/meetings/TimeRangeStep';
import TitleStep from '../../components/meetings/TitleStep';
import DescriptionStep from '../../components/meetings/DescriptionStep';

type Step = 'title' | 'description' | 'dates' | 'timeRange';
const step: Step = Astro.url.searchParams.get('step') as Step || 'title';
---

<Layout>
  <main>
    <h1>약속을 만들어 볼까요?</h1>
    <div class="content">
      {step === 'title' && <TitleStep client:only="react" />}
      {step === 'description' && <DescriptionStep client:only="react" />}
      {step === 'dates' && <DatesStep client:only="react" />}
      {step === 'timeRange' && <TimeRangeStep client:only="react" />}
    </div>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .content {
    width: 100%;
    margin: 0 auto;
  }
</style>