---
import Layout from '../../layouts/Layout.astro';
import PickDates from '../../components/meetings/PickDates';
import PickTimeRange from '../../components/meetings/PickTimeRange';

const dates = Astro.url.searchParams.get('dates');
---

<Layout>
  <main>
    <h1>약속을 만들어 볼까요?</h1>
    {
      !dates || dates.length === 0
      ? <PickDates client:only="react" />
      : <PickTimeRange client:only="react" />
    }
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
</style>