---
import Layout from '../../layouts/Layout.astro';
import DatesStep from '../../components/meetings/DatesStep';
import TimeRangeStep from '../../components/meetings/TimeRangeStep';
import TitleStep from '../../components/meetings/TitleStep';
import DescriptionStep from '../../components/meetings/DescriptionStep';
import LocationStep from '../../components/meetings/LocationStep';
import { getLocaleFromAstroRequest, getTranslations, defaultLocale } from '../../i18n';
import RequireAuth from '../../components/RequireAuth';
import MeetingTypeStep from '../../components/meetings/MeetingTypeStep';

type Step = 'meetingType' | 'title' | 'dates' | 'timeRange' | 'location';
const step: Step = Astro.url.searchParams.get('step') as Step || 'meetingType';
const locale = getLocaleFromAstroRequest(Astro.cookies, Astro.request.headers) || defaultLocale;
const t = getTranslations(locale);

const title = t('meta.pages.create.title');
const description = t('meta.pages.create.description');
---

<Layout title={title} description={description} schemaType="WebPage">
  <main>
    <RequireAuth client:only="react" />
    <h1>{t('createMeeting.title')}</h1>
    <div class="content">
      {step === 'meetingType' && <MeetingTypeStep client:only="react" />}
      {step === 'title' && <TitleStep client:only="react" />}
      <!-- {step === 'description' && <DescriptionStep client:only="react" />} -->
      {step === 'dates' && <DatesStep client:only="react" />}
      {step === 'timeRange' && <TimeRangeStep client:only="react" />}
      {step === 'location' && <LocationStep client:only="react" />}
    </div>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    @media (max-width: 699px) {
      box-sizing: border-box;
      min-height: calc(100svh - 70px);
      position: relative;
    }
  }
  .content {
    width: 100%;
    margin: 0 auto;
  }
</style>