---
import Layout from '../layouts/Layout.astro';
import { getLocaleFromAstroRequest, getTranslations, defaultLocale } from '../i18n';
import Button from '../components/Button/Button';

const locale = getLocaleFromAstroRequest(Astro.cookies, Astro.request.headers) || defaultLocale;
const t = getTranslations(locale);

const title = t('404.title');
const description = t('404.description');
---
<Layout>
  <main>
    <h1>{title} 😭</h1>
    <p>{description}</p>
    <Button as="a" href="/" buttonType="ghost">
      {t('404.homeButton')}
    </Button>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  p {
    margin-bottom: 50px;
    word-break: keep-all;
  }
</style>