---
import Layout from '../layouts/Layout.astro'
import Home from '../components/Home'
import { getLocaleFromAstroRequest, getTranslations, defaultLocale } from '../i18n'

const locale = getLocaleFromAstroRequest(Astro.cookies, Astro.request.headers) || defaultLocale
const t = getTranslations(locale);

const title = t('meta.pages.home.title');
const description = t('meta.pages.home.description');
---

<Layout title={title} description={description}>
  <main>
    <Home client:only='react' />
  </main>
</Layout>

<style>
  p {
    margin-bottom: 50px;
    word-break: keep-all;
  }
  main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 80px;
  }
</style>
