---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home';
---

<Layout>
  <main>
    <h1>반가워요!</h1>
    <Home client:only="react" />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
</style>