---
import Layout from '../layouts/Layout.astro'
import { getLocaleFromAstroRequest, getTranslations, defaultLocale } from '../i18n'
import MyMeetings from '../components/MyMeetings/MyMeetings'
import RequireAuth from '../components/RequireAuth'

const locale = getLocaleFromAstroRequest(Astro.cookies, Astro.request.headers) || defaultLocale
const t = getTranslations(locale);

const title = t('meta.pages.my.title');
const description = t('meta.pages.my.description');
---

<Layout title={title} description={description} schemaType="WebPage">
  <RequireAuth client:only='react' />
  <main>
    <h1>{t('my.title')}</h1>
    <MyMeetings client:only='react' />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  h1 {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 20px;
    word-break: keep-all;
  }
</style>
