@use "../../styles/variables.scss" as *;

.header {
  display: grid;
  color: $c-black;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 12px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 500px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
  background-color: $c-white;
  height: 50px;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 3;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: inherit;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  grid-column: 2;
}

.title.center {
  justify-self: center;
}

.title.left {
  justify-self: flex-start;
}

.header.no-back-button {
  grid-template-columns: 1fr auto;
  
  .title {
    grid-column: 1;
    justify-self: flex-start;
  }
  
  .right {
    grid-column: 2;
  }
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: inherit;
}