@import "../../styles/variables.scss";

.cell {
  user-select: none;
  border-radius: 50%;
  background: #fff;
  transition: 0.15s;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  min-width: 0;
  box-sizing: border-box;

  &:hover {
    background: #f9f9f9;
  }

  &.selected {
    background: $primary-color-selected;
    backdrop-filter: blur(4px);
  }

  &.dragged {
    background: $primary-color-dragged;
    backdrop-filter: blur(4px);
  }

  &.otherMonth {
    opacity: 0.4;
    color: #999;
  }

  &.today {
    color: #000;
    font-weight: bold;
  }
}

