.cell {
  user-select: none;
  padding: 14px 10px;
  height: 30px;
  border-radius: 12px;
  border: 1px solid #eee;
  background: #fff;
  transition: 0.15s;
  cursor: default;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;

  &.selected {
    background: rgba(120, 115, 255, 0.25);
    backdrop-filter: blur(4px);
  }

  &.dragged {
    background: rgba(115, 255, 150, 0.25);
    backdrop-filter: blur(4px);
  }

  &.otherMonth {
    opacity: 0.4;
    color: #999;
  }

  &.today {
    color: #000;
    font-weight: bold;
  }
}

