.container {
  width: 400px;
  margin: 60px auto;
}

.title {
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #999;
  }
  button:hover {
    background: #f0f0f0;
  }
}

