.container {
  width: 100%;
}


.header {
  display: flex;
  // justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  .title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 20px;
  }

  button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
    transition: opacity 0.2s;

    &:hover:not(:disabled) {
      opacity: 0.7;
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}

