.cell {
  user-select: none;
  padding: 14px 10px;
  border-radius: 50%;
  background: #fff;
  transition: 0.15s;
  cursor: default;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  min-width: 0;
  box-sizing: border-box;

  &.selected {
    background: rgba(59, 130, 246, 0.25);
    backdrop-filter: blur(4px);
  }

  &.dragged {
    background: rgba(59, 130, 246, 0.101);
    backdrop-filter: blur(4px);
  }

  &.otherMonth {
    opacity: 0.4;
    color: #999;
  }

  &.today {
    color: #000;
    font-weight: bold;
  }
}

