@use "../../styles/variables.scss" as *;

.error {
  color: $c-red;
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.buttonContainer {
  display: flex;
  gap: 10px;

  > *:first-child {
    flex: 1;
  }

  > *:nth-child(2) {
    flex: 3;
  }
}

.button {
  margin-top: 20px;
}

.timeRangeContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.timeRangeItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.timeRangeItemLabel {
  font-size: 16px;
  font-weight: 500;
  color: $c-black;
}

.dateBadgesTitle {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  color: $c-gray-darkest;
}
.dateBadges {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}