@use "../../styles/variables.scss" as *;

.error {
  color: $c-red;
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.buttonContainer {
  display: flex;
  gap: 10px;

  > *:first-child {
    flex: 1;
  }

  > *:nth-child(2) {
    flex: 3;
  }
}

.button {
  margin-top: 20px;
}