@use "../../styles/variables.scss" as *;

.Root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: $c-gray-light;
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.Fallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: $primary-color;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
}